In [18]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [19]:
df = pd.read_csv('D:\webml\Housing.csv')

In [20]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [21]:
df.tail()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [22]:
le_mainroad = LabelEncoder()
le_guestroom = LabelEncoder()
le_basement = LabelEncoder()
le_hotwaterheating =  LabelEncoder()
le_airconditioning =  LabelEncoder()
le_prefarea =  LabelEncoder()
le_furnishingstatus =  LabelEncoder()

In [23]:
df['mainroad'] = le_mainroad.fit_transform(df['mainroad'])
df["mainroad"].unique()
df['guestroom'] = le_guestroom.fit_transform(df['guestroom'])
df["guestroom"].unique()
df['basement'] = le_basement.fit_transform(df['basement'])
df["basement"].unique()
df['hotwaterheating'] = le_hotwaterheating.fit_transform(df['hotwaterheating'])
df["hotwaterheating"].unique()
df['airconditioning'] = le_airconditioning.fit_transform(df['airconditioning'])
df["airconditioning"].unique()
df['prefarea'] = le_prefarea.fit_transform(df['prefarea'])
df["prefarea"].unique()
df['furnishingstatus'] = le_furnishingstatus.fit_transform(df['furnishingstatus'])
df["furnishingstatus"].unique()

array([0, 1, 2])

In [24]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,0

In [25]:
df.shape

(545, 13)

In [26]:
df.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [27]:
x = df.drop(['price'],axis=1).values
y = df['price'].values

In [28]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.32,random_state=0)

In [29]:
from sklearn.linear_model import LinearRegression
ml = LinearRegression()
ml.fit(x_train,y_train)

LinearRegression()

In [30]:
y_pred = ml.predict(x_test)
print(y_pred)

[ 3957850.90024463  6217893.36857429  4427401.31426845  7407368.07525609
  2833667.7704423   7031392.63478662  3271074.18162838  3116245.40431087
  3538241.20531604  8284888.90289361  6650787.05466225  3734132.13198147
  3743709.36224768  4584854.28164196  3970229.82925431  1994859.42898367
  4006155.86673572  3618108.30186215  3166993.03967174  4708492.15619132
  5855850.5193276   6473154.81177349  4712762.44544218  2715508.41597139
  5370686.49698787  5739866.75445275  5329217.13543974  5473352.61066818
  5626465.66631123  5911527.16832232  3312445.91914169  6383101.03398389
  7192337.0808144   2999181.42278076  4443827.29839543  5194358.1648672
  4926759.68992872  3638302.07949357  2971907.21189374  4019243.61102657
  8050851.82919202  4939028.30306174  6493132.06991291  3623866.42768075
  3860546.14287213  6346751.26752608  4593334.13375239  2785646.93304456
  4108989.60203569  6529202.07484069  3950114.75969272  6981265.54895341
  2576206.95345097  2958877.59965969  3574391.82713574  5241232.13628609
  7141222.92428618  4005926.95917239  2895225.85886615  4425958.09189777
  6018479.17759108  6660343.76225326  3299132.23375702  7200799.93152039
  2598339.76810839  4971209.95536358  6743424.64220127  2605782.11369023
  3813744.47855889  5051912.29240111  4306545.52401484  7225813.40084645
  5193535.53217116  5927857.61716004  4094919.00851202  4536718.93111475
  2879295.691395    7471899.81408723  2560282.75054372  3670560.90322705
  4306545.52401484  6048981.33360515  5080800.00959664  5482282.61981121
  3782208.19090922  4068385.39536844  4753581.39933109  5125761.95086175
  3888933.26291365  4284922.44959541  3266366.60307549  5846502.5616701
  3127016.12701134  3614555.28534589  4511632.62652284 10409186.46264252
  2927662.49428802  7061637.25357392  4392077.37465687  4552479.7614566
  6458397.43764287  3222978.99642537  4502685.4305625   3407530.23920108
  7348784.44076868  5182592.0227169   4096126.24911407  5028556.9195592
  6282150.53247104  2678712.00851141  2775462.6545176   2043436.08440541
  2673619.86924793  4595799.04045097  3026959.11260366  4369000.05560978
  6867629.99368852  2683804.14777489  4196363.74718531  8483739.54275551
  2400081.69616264  5101372.95007403  2636768.24025792  4785376.20209622
  2751958.06153864  3223390.27869503  7457284.38728548  5159400.92526189
  5148348.25992938  3732996.91208203  4571341.81383313  3231404.98191275
  5517292.04642389  2683804.14777489  4747931.1397525   8541723.91476557
  4535089.79072799  2906762.90242736  4334518.73376257  2033251.80587845
  4831540.25265261  4988949.80950057  6272286.46970819  4746310.1694006
  6515300.51315375  7346667.71270206  4701475.36482963  7284016.89594296
  6474618.11672707  3679373.4334607   6006528.49984124  3190368.60372954
  2668549.45354253  6771779.33895125  5913210.13959348  5579855.45177596
  9590313.92210331  7665900.5632131   4545446.4883683   3019885.3391648
  4236549.49264978  3135609.90520878  6400216.40466586  6384571.70828168
  4363852.97423687  3520164.35125847  3858768.72355729  3076204.90290761
  3816861.19357476  2208827.20970667  4316363.17164585  6399023.52580904
  4821140.63752149  3697237.79286479  7574722.87205176]

In [31]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.7225313040326253

In [32]:
import pickle

In [33]:
with open('ml.pkl','wb') as files:
  pickle.dump(ml,files)